
/*global*/

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	background: #ccc;
	font-size: 20px;
	font-family: 'Muller Narrow Light';
	font-weight: normal;
	color: #ffffff;
	margin: 0;
}


.logo{
	height: 16px;
}

/*main as a flexible container */

main{
	flex: 1 0 auto;
	/*background-color: #222;*/
	width: 100%;
	display: flex;
	flex-direction: column;
}


#user{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	color: blue;
	flex: 1 0 50px;
	box-sizing: border-box;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);

}

/*d3js charts*/

#charts{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	flex: 0 0 350px;
	margin-top: 20px;
}

.chart{
	margin: 3px;
	flex: 1;
	background-color: #f1f1f1;
}

/*table buttons*/
#data_tables{
	display: flex;
	flex:1 1 auto;
	flex-direction: column;
	margin-top: 20px;
}

#data_tables .buttons{
	flex: 0 1 70px;
	/*background: #fff;*/
	padding: 2px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.buttons button{
	background: #555;
	flex: 1 1 auto;
	border-radius: 3px;
	border: 0;
	margin:10px;
	color: #fff;

}

.buttons button:hover{
	background: green;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
/*section to display tables*/

#table_display{
	width: 100%;
}




/*new table layout*/
table{
	border-collapse:collapse;
	margin: 5px auto;
	box-sizing: border-box;
	width: 90vw;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;

}
 #clientsTable, #financeTable{
	display: none;
}


.hidden{
	display: none;
}
.head{
	background: #fff;
	color: #000;
}
th{
padding: 25px 0;
}
tr td{
	text-align: center;
	padding: 12px;
	color: #000000;
	background: #fff;
}

.confirmButtons, .confirmActionButtonsTitle{
	display: none;
	background: yellow;
}
.confirmMultipleDivButtons{
	display:none;
	padding-bottom: 15px;
	margin: 0 auto; 

	

}
#display03{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.agreeFinanceStatus{
	background: green;
	color: #fff;
	padding:5px 20px;
	border:0;
	border-radius: 4px;
	width: 100px;
	transition: all .7s ease-in-out;
}


.cancelFinanceStatus{
	background: red;
	padding:10px;
	color: #fff;
	border:0;
	border-radius: 4px;
	padding:5px 20px;
	width: 100px;
	transition: all .7s ease-in-out;
}

 .agreeFinanceStatus:hover{
	transform: scale(1.25);
	
}
 .cancelFinanceStatus:hover{
	transform: scale(1.25);
	
}

/*end of main section*/




/*footer*/
footer{
	flex: 0 0 50px;
    background-color: #292A80; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
footer h1{

}