html, body{
	font-family: 'Muller Narrow Medium';
	font-size: 16px;
	font-weight: medium;
	color: ##292A80;
	background: #f1f1f1;
}


#total_finance{
	display: flex;
	width: 80%;
	margin:100px auto 100px auto;
	background: #fff;
	flex-direction: column;
	flex:1 1 auto;
	justify-content: space-around;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

#total_finance .title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 30px;
	background: blue;
	color: #fff;
	/*border-bottom: 3px solid #000;*/
}
.title a{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

/*#total_finance .subTitle{
	
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 22px;
}

.selection{
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 18px;
}
*/

#total_finance .totalFinanceTable{
	padding:20px 0;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: center;*/

}
tr td{
	text-align: center;
	padding: 12px;
	color: #292A80;
	background: #fff;
	flex: 1
}

table{
	border-collapse:collapse;
	/*margin: 5px auto;*/
	box-sizing: border-box;
	
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
}

.checkout .customer-name, .checkout label{
	float: left;

}
.checkout .customer-name{
	font-size: 20px;
}
.checkout input[type="file"]{
	background: #f2f2f2;
}


#total{
	display: flex;
	justify-content: space-around;
	margin-top: 0;
}

#totalButton{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px 0;
}

.submitButton{
width: 150px;
	height: 40px;
	border:none;
	border-radius: 3px;
	transition: all 1s;
	background: blue;
	color: #ffffff;
}

.submitButton:hover{
	
	transform: scale(1.15);
}


/*items*/
#total h4, th,
#totalAmount{
	font-size: 24px;
}